In [1]:
%install_ext https://raw.githubusercontent.com/szeitlin/watermark/master/watermark.py

Installed watermark.py. To use it, type:
  %load_ext watermark

In [2]:
%load_ext watermark

In [3]:
%watermark -a "Samantha Zeitlin" -d -u -p ipython,python,pandas,seaborn,pytz,matplotlib

Samantha Zeitlin
Last updated: 03/09/2015

ipython 3.0.0
python 2.7.9
pandas 0.15.2
seaborn 0.5.1
pytz 2014.9
matplotlib 1.4.0

In [4]:
import pandas
import matplotlib.pyplot as plt
import matplotlib
import seaborn as sns
import numpy as np

%matplotlib inline

In [12]:
df = pandas.read_csv("2014_ts.csv",index_col=0)

In [13]:
df.head()

,posTime,Lat,Long,altTime,Altitude,DistanceMeters,weekday
0,2014-10-16 07:48:11-07:00,37.3943,-122.0769,2014-10-16 07:48:11-07:00,19.3638,4780.8071,3
1,2014-10-16 07:48:12-07:00,37.3943,-122.0771,2014-10-16 07:48:12-07:00,19.3638,4791.6362,3
2,2014-10-16 07:48:17-07:00,37.3944,-122.0774,2014-10-16 07:48:17-07:00,19.8444,4826.5288,3
3,2014-10-16 07:48:26-07:00,37.3947,-122.0781,2014-10-16 07:48:26-07:00,19.8444,4895.5474,3
4,2014-10-16 07:48:29-07:00,37.3948,-122.0782,2014-10-16 07:48:29-07:00,19.8444,4916.4795,3

In [23]:
df.shape

(12287, 7)

In [14]:
sorted_by_date = df.sort_index(by='posTime')
sorted_by_date['posTime'] = sorted_by_date['posTime'].apply(pandas.to_datetime)

In [19]:
positioned = sorted_by_date.set_index('posTime')

In [28]:
#to use googlemaps RoadsAPI and ElevationAPI, will want a list of snappedPoints, where each point has a location (tuple of lat and long)

In [30]:
positioned.head()

,Lat,Long,altTime,Altitude,DistanceMeters,weekday
posTime,,,,,,
2014-06-18 13:38:14,37.7643,-122.4334,2014-06-18 06:38:14-07:00,40.5128,0.0000,2
2014-06-18 13:38:14,37.7643,-122.4334,2014-06-18 06:38:14-07:00,40.5128,0.0000,2
2014-06-18 13:38:15,37.7643,-122.4334,2014-06-18 06:38:15-07:00,39.5513,0.0000,2
2014-06-18 13:38:15,37.7643,-122.4334,2014-06-18 06:38:15-07:00,39.5513,0.0000,2
2014-06-18 14:46:29,37.3943,-122.0771,2014-06-18 07:46:29-07:00,21.7670,4744.3589,2

In [ ]:
#probably want to split up dataframe into days and possibly legs