In [1]:
import pandas

In [17]:
a_list = [1,1,1,2,2,2,3,3,4,4,5]
a_series = pandas.Series(a_list)
a_df = pandas.DataFrame(a_series,columns=['values'])

In [18]:
a_df.head()

   values
0       1
1       1
2       1
3       2
4       2

In [67]:
def extract_items(df, colname):
    
    new_list = []
    
    temp_value = df[colname][0]
   
    for item in df.index.values:
        print "compare to {}".format(temp_value)
        if df[colname][item]==temp_value:
            print "same"
            new_list.append(df['values'][item])
        else:
            temp_value = df[colname][item]
            print "switch", new_list,
            yield new_list
            new_list = [] #if you don't do this, it will just append to the same list each time

In [68]:
def make_new_df(df, colname):
    
    new_list = extract_items(a_df,'values')
    
    while new_list:
        try:
            points = next(new_list)
            new_df = pandas.DataFrame(points, columns=['subset'])
            print new_df.count()
            yield new_df
        except StopIteration:
            break

In [69]:
test = make_new_df(a_df,'values')

In [72]:
next(test)

compare to 3
same
compare to 3
switch [3] subset    1
dtype: int64

   subset
0       3

In [23]:
next(test)

subset    0
dtype: int64

        subset
values     NaN
values     NaN
values     NaN
values     NaN
values     NaN